{% extends "template/default.html" %}

{% block title %}Laboratórios{% endblock %}

{% block content %}

    <div id="bass">
        <div id="circle">
            <img src="AirConditioning/../public/img/macbook.png" alt="">
        </div>

        <p id="idLab">Laboratório </p>
        <span> dasdkasdkaskdkkkkkk
            kkkkkkkkkkkkkkk
            kkkkkkkkkkkkkkkkkkk
            kkkkkkkk</span>
        <p>Ativado</p>
    </div>

    <div data-tilt>
        <a href="#">
            <img src="AirConditioning/../public/img/create.png" id="create"
        </a>
    </div>
{% endblock %}

